
@{
    ViewData["Title"] = "AdicionaReceita";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<a class="waves-effect waves-light btn modal-trigger hide" href="#modalOK" id="btnModalSucesso">Modal</a>

<!-- Modal Sucesso Structure -->
<div id="modalOK" class="modal">
    <div class="modal-content">
        <img class="responsive-img" src="~/img/modalSucesso.ico">
        <h5 style="font-family: 'Merienda One', cursive; font-size: 20px;">Cadastrado com Sucesso!</h5>        
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat hide" id="btnFechar" >Agree</a>
    </div>    
</div>


<script> 
window.onload = function(){

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modalOK');
    var instances = M.Modal.init(elems, {
    
  });
  });
    
    document.getElementById("btnModalSucesso").click();
    setTimeout(funcaoFechar, 1500);

};

function funcaoFechar() {
   document.getElementById("btnFechar").click();
   window.location.href="../Home/MenuPrincipal";
}
  

</script>





