
@{
    ViewData["Title"] = "CadUsuario";
}

<title>CadUsuario</title>

<form asp-controller="Demo" asp-action="Register" method="post">
    <!-- Input and Submit elements -->
</form>

 <center>

    <div class="container">
        <div class="z-depth-1 grey lighten-4 row" id="form-cadUsuario">

            <form asp-controller="Usuario" asp-action="CriarLogin" method="post">

                

                <div class="row">
                    <div class="input-field col s12 inline">
                        <input id="nomeCompleto_inline" type="text" class="validate">
                        <label for="nomeCompleto_inline">Nome Completo</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 inline">
                        <input id="senha_inline" type="password" class="validate">
                        <label for="senha_inline">Senha</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 inline">
                        <input id="email_inline" type="email" class="validate">
                        <label for="email_inline">Email</label>
                        <!-- <span class="helper-text" data-error="Endereço de email inválido!"></span> -->
                    </div>
                </div>

                <br />
                <center>
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' >Criar Conta</button>
                    </div>
                </center>



            </form>

        </div>
    </div>


 </center>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

    function RegistrarUsuario() {
        window.location.href = "../Usuario/CriarLogin";
    }
</script>

