
@inject IHttpContextAccessor HttpContextAccessor

@{
    var id = HttpContextAccessor.HttpContext.Session.GetString("IdUsuarioLogado");
    //Session.SetString("IdUsuarioLogado", nome);


}

<!DOCTYPE html>
@model TipoReceitaModel

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">

        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/style-calculadora.css">

        <!--Import Jquery e JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="~/js/app.js"></script>

    </environment>

</head>

<body>

    <nav class="blue darken-1 col s12">
        <div class="nav-wrapper" class="navPrincipal">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left fixed " id="menu-esquerda">
                <a href="../Home"><img src="~/img/saco de dinheiro1.png" alt="Home Page" class="logo-home"></a>
                <a href="#" class="titulo-nav" style="font-family: 'Merienda One', cursive;">Up Money</a>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="../Usuario/Login">Login</a></li>
                <li><a href="#">Dicas Financeiras</a></li>
                <li><a href="../Home/Sobre">Sobre</a></li>
            </ul>
        </div>
    </nav>



    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor





    <div class="menuFixo">
        <ul id="slide-out" class="sidenav sidenav-fixed grey lighten-5">

            <ul class="collapsible collapsible-accordion" style="transform: translateX(0%);">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons green-text">publish</i>Receitas
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#modal2" class="modal-trigger">Adicionar Uma Nova</a></li>
                            <li><a href="#!">Adicionar Tipo</a></li>
                            <li><a href="../Receita/VerReceita">Ver Receitas</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons red-text">file_download</i>Despesas
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Adicionar Uma Nova</a></li>
                            <li><a href="#!">Adicionar Tipo</a></li>
                            <li><a href="#!">Ver Despesas</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons deep-purple-text ">swap_horiz</i>Transação
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Adicionar Uma Nova</a></li>
                            <li><a href="#!">Adicionar Tipo</a></li>
                            <li><a href="#!">Ver Transações</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons  ">monetization_on</i>Conta
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Adicionar Uma Nova</a></li>
                            <li><a href="#!">Adicionar Tipo</a></li>
                            <li><a href="#!">Ver Contas</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons orange-text lighten-3">filter_drama</i> Sonhos
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Adicionar Sonho</a></li>
                            <li><a href="#!">Ver Meus Sonhos</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <i class="material-icons   blue-text">account_circle</i> Perfil
                    </div>

                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Editar</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header">
                        <a href="#!" id="btnSair"> Sair </a>
                    </div>

                </li>

            </ul>

        </ul>


        <!-- Modal Structure -->
        <div id="modal2" class="modal">

            <div class="modal-content" style="background-color: #81c784">
                <h5>Entradas</h5>
            </div>

            <div class="row">

                <form class="col s6 " id="formAddReceita" asp-controller="Receita" asp-action="AdicionaReceita" method="post">

                    <div class="row">
                        <div class="input-field col s6">
                            <!-- <p>Digite um Valor:</p> -->
                            <input id="valor_inline" type="text" class="validate" name="valor">

                            <label for="valor_inline">Valor:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="descricao_inline" type="text" class="validate" name="descricaoReceita">
                            <label for="descricao_inline">Descrição:</label>
                        </div>
                    </div>

                    <div class="row" id="divDataPicker">
                        <input type="text" class="datepicker" id="dtReceita" value="" name="dataReceita">
                    </div>
                    <select id="TiposReceitas" name="tipoReceita">
                        @{TipoReceitaModel objTipoReceita = new TipoReceitaModel(); }

                        @foreach (var item in (objTipoReceita.retornaReceitas(id)))
                        {
                            <option value=@item.idTipoReceita.ToString()>@item.dsTipoReceita.ToString()</option>

                        }
                    </select>

                    @*<select id="cb_tipoReceita" name="tipoReceita">
                        <option value="" disabled selected>Selecione o Tipo de Receita</option>
                        <option value="">Salário</option>
                        <option value="Outras Rendas">Outras Rendas</option>
                        <option value="">Reembolso</option>
                        <option value="">Estorno</option>
                    </select>*@

                    <div class="opcoesBtn">
                        @{HttpContextAccessor.HttpContext.Session.SetString("IdUsuarioLogado", id.ToString()); }

                        <button type="submit" class=" waves-effect waves-green btn" id="btnSalvar">Salvar</button>
                        <a href="#!" class="modal-close waves-effect waves-effect btn background-color: red" id="btnCancelar">Cancelar</a>
                    </div>
                </form>

            </div>

        </div>

        <div class="container body-content">
            @RenderBody()
        </div>

        <script>

            document.getElementById('valor_inline').focus();

            document.querySelector("[id='valor_inline']").focus();


            /*-----------------------------------------CALCULADORA----------------------------------------------------------*/
            // pego os elementos li e div input
            var btn = document.querySelectorAll(".key li"),
                input = document.querySelector(".input-valor"),
                operador = document.querySelectorAll(".operador");

            // Percorro o array para usar todas as informações
            for (var i = 0; i < btn.length; i++) {
                document.onkeypress = function () {
                    var key = event.keyCode;
                    //console.log(key);
                    for (var e = 0; e <= 10; e++) {
                        if (key === (48 + e)) {
                            debugger
                            input.innerHTML += e;
                            document.querySelector("[id='valor_inline']").value += e;
                        }
                    }
                    switch (key) {
                        case 42:
                            input.innerHTML += "*";
                            document.querySelector("[id='valor_inline']").value = input.innerText;
                            break;
                        case 43:
                            input.innerHTML += "+";
                            document.querySelector("[id='valor_inline']").value = input.innerText;
                            break;
                        case 45:
                            input.innerHTML += "-";
                            document.querySelector("[id='valor_inline']").value = input.innerText;
                            break;
                        case 46:
                            input.innerHTML += ".";
                            document.querySelector("[id='valor_inline']").value = input.innerText;
                            break;
                        case 47:
                            input.innerHTML += "/";
                            document.querySelector("[id='valor_inline']").value = input.innerText;
                            break;
                        case 13:
                        case 61:
                            var equacao = input.innerHTML;
                            if (equacao) {
                                try {
                                    debugger
                                    input.innerHTML = eval(equacao);
                                    document.querySelector("[id='valor_inline']").value = eval(equacao);
                                } catch (e) {
                                    alert('Erro na expressão');

                                }
                            }
                            break;
                        case 67:
                        case 99:
                            input.innerHTML = "";
                            break;
                        default:
                            //console.log("Procurando erros?");
                            break;
                    }
                };
                btn[i].addEventListener('click', function () {
                    var btnVal = this.innerHTML,
                        inputVal = input.innerHTML;
                    //console.log(btnVal);

                    // crio um clear caso o c for clicado
                    switch (btnVal) {
                        case "c":
                            debugger
                            input.innerHTML = "";
                            document.querySelector("[id='valor_inline']").value = "";
                            break;
                        case "=":
                            // Crio a variável de equação aqui eu utilizo a função eval do javascript
                            var equacao = inputVal;

                            if (equacao) {
                                try {
                                    debugger
                                    input.innerHTML = eval(equacao);
                                    document.querySelector("[id='valor_inline']").value = eval(equacao);
                                } catch (e) {
                                    alert('Erro na expressão');

                                }
                            }
                            break;
                        default:
                            input.innerHTML += btnVal;

                            document.querySelector("[id='valor_inline']").value += btnVal;
                            break;
                    }

                });
            }

        </script>

</body>
</html>