<title>Index</title>



    
    <div class="parallax-container z-depth-3 " >
        <div class="container s12" id="titulo-banner">
            <h2 class="center parallax-title">Chega de Receber Supresas Desagradáveis!</h2>
        </div>
        <div class="parallax s12"><img src="~/img/casal-preocupado1.jpg"></div>
    </div>

    <div class="section center">

    </div>

    <div class="parallax-container z-depth-3  ">
        <div class="container s12" id="titulo-banner">
            <h2 class="center parallax-title">Nós Podemos te Ajudar à Chegar ao Sucesso Financeiro!</h2>
        </div>
        <div class="parallax s12"><img src="~/img/sucesso.jpg"></div>
    </div>

    <div class="section center">
        <div class="row container">
            <h5 class="header">Liberte-se das dívidas!</h5>
        </div>
    </div>

    <div class="parallax-container z-depth-3  ">
        <div class="container s12" id="titulo-banner">
            <h2 class="center parallax-title">Experimente Já e Volte a Ter o Controle do Seu Dinheiro!</h2>
        </div>
        <div class="parallax s12"><img src="~/img/moedas.jpg"></div>
    </div>
        
 





<!--     
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {});
    });
</script> -->