
@{
            Layout = "~/Views/Shared/Layout2.cshtml";
}

<title>Menu Principal</title>

<!--Import Google Icon Font-->
@*
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">*@

<!--Import materialize.css-->
@*
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">*@

<!--Import Jquery e JavaScript-->
@*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>*@





<h1>@ViewData["NOME"]</h1>

<body>

    <ul id='dropdown1' class='dropdown-content dropdown-menu-left'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li><a href="#!">three</a></li>
    </ul>



    <main>

        <div class="fixed-action-btn ">
            <a class="btn-floating btn-large red ">
                <i class="large material-icons ">add</i>
            </a>
            <ul>
                <li><a class="btn-floating deep-purple darken-4"><i class="material-icons" title="Transação">swap_horiz</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons" title="Receita">publish</i></a></li>
                <li><a class="btn-floating red"><i class="material-icons" title="Despesa">file_download</i></a></li>
            </ul>
        </div>

    </main>



    <script>

    </script>

</body>