<title>Menu Principal</title>

<!--Import Google Icon Font-->
@*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">*@

<!--Import materialize.css-->
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="css/style.css">*@

<!--Import Jquery e JavaScript-->
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>*@


@*<iframe src="Navbar.html" width="">*@
    <!-- <header>
            <nav class="blue darken-1">

                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left fixed " id="menu-esquerda">
                        <a href="#"><img src="img/saco de dinheiro1.png" alt="Home Page" class="logo-home"></a>
                        <a href="#" class="titulo-nav" style="font-family: 'Merienda One', cursive;">Up Money</a>
                    </ul>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="Meu Login.html">Login</a></li>
                        <li><a href="#">Dicas Financeiras</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <li><a href="#">opcao 1</a></li>
                <li><a href="#">opcao 2</a></li>
                <li><a href="#">opcao 3</a></li>
            </ul>
        </header> -->

    

@*</iframe>*@

    
<div class="fixed-action-btn ">
    <a class="btn-floating btn-large red ">
      <i class="large material-icons ">add</i>
    </a>
    <ul>      
        <li><a class="btn-floating deep-purple darken-4"><i class="material-icons" title="Transação">swap_horiz</i></a></li>  
      <li><a class="btn-floating green"><i class="material-icons" title="Receita">publish</i></a></li>
      <li><a class="btn-floating red"><i class="material-icons" title="Despesa">file_download</i></a></li>
    </ul>
  </div>

<h1>MENU PRINCIPAL</h1>